{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h2>Filtrer les sorties</h2>
    {{ form_start(searchForm) }}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="d-flex flex-row p-1">
                {{ form_label(searchForm.campus) }}
                {{ form_widget(searchForm.campus) }}
            </div>
            <div class="d-flex flex-row p-1">
                {{ form_label(searchForm.name) }}
                {{ form_widget(searchForm.name) }}
            </div>
            <div class="d-flex flex-row p-1">
                <div class="d-flex flex-row pr-1">
                    {{ form_label(searchForm.from) }}
                    {{ form_widget(searchForm.from) }}
                </div>
                <div class="d-flex flex-row pl-1">
                    {{ form_label(searchForm.to) }}
                    {{ form_widget(searchForm.to) }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div>
                {{ form_label(searchForm.organized) }}
                {{ form_widget(searchForm.organized) }}
            </div>
            <div>
                {{ form_label(searchForm.subscribed) }}
                {{ form_widget(searchForm.subscribed) }}
            </div>
            <div>
                {{ form_label(searchForm.notSubscribed) }}
                {{ form_widget(searchForm.notSubscribed) }}
            </div>
            <div>
                {{ form_label(searchForm.over) }}
                {{ form_widget(searchForm.over) }}
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-sm btn-primary">Rechercher</button>
    </div>
    {{ form_end(searchForm) }}
    {% for label, messages in app.flashes(['success', 'danger', 'warning']) %}
        {% for message in messages %}
            <div class="text-center bg-{{ label }}">
               {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startDate|date('d/m/Y') }}</td>
                    <td>{{ event.signUpDeadline|date('d/m/Y') }}</td>
                    <td>{{ event.participants.count() }}/{{ event.maxParticipants }}</td>
                    <td>{{ event.state.label }}</td>
                    <td>{{ app.user.isParticipant(event) ? 'X' : '' }}</td>
                    <td>
                         <a href="{{ path('user_detail', { id : event.organizer.id }) }}">
                        {{ event.organizer.nickname ? event.organizer.nickname : event.organizer.firstName ~ ' ' ~ event.organizer.lastName }}
                         </a>
                    </td>
                    <td>
                        <a href="{{ path('event_detail', { id : event.id }) }}">Afficher</a>
                        {% if event.organizer.id is same as(app.user.id) %}
                            {% if event.state.label is same as('Créée') %}
                                <p>publier</p>
                            {% else %}
                                <p>modifier</p>
                            {% endif %}
                        {% else %}
                            {% if event.state.label is same as('Ouverte') %}
                                {% if app.user.subscribedToEvents.contains(event) %}
                                    <a href="{{ path('event_unsubscribe', { id : event.id}) }}">Se désister</a>
                                {% elseif event.participants.count() < event.maxParticipants and date(event.signUpDeadline) >= date() %}
                                    <a href="{{ path('event_subscribe', { id : event.id}) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
