{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h2>Filtrer les sorties</h2>
    {{ form_start(searchForm) }}
        <div class="row">
            <div class="col col-s-12 col-m-6 col-l-4">
                <div>
                    {{ form_label(searchForm.campus) }}
                    {{ form_widget(searchForm.campus) }}
                </div>
                <div>
                    {{ form_label(searchForm.name) }}
                    {{ form_widget(searchForm.name) }}
                </div>
                <div class="row">
                    {{ form_label(searchForm.from) }}
                    {{ form_widget(searchForm.from) }}
                    {{ form_label(searchForm.to) }}
                    {{ form_widget(searchForm.to) }}
                </div>
            </div>
            <div class="col col-s-12 col-m-6 col-l-4">
                <div>
                    {{ form_label(searchForm.organized) }}
                    {{ form_widget(searchForm.organized) }}
                </div>
                <div>
                    {{ form_label(searchForm.subscribed) }}
                    {{ form_widget(searchForm.subscribed) }}
                </div>
                <div>
                    {{ form_label(searchForm.notSubscribed) }}
                    {{ form_widget(searchForm.notSubscribed) }}
                </div>
                <div>
                    {{ form_label(searchForm.over) }}
                    {{ form_widget(searchForm.over) }}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-sm btn-primary">Rechercher</button>
            </div>

        </div>
    {{ form_end(searchForm) }}
    <div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startDate|date('d/m/Y') }}</td>
                    <td>{{ event.signUpDeadline|date('d/m/Y') }}</td>
                    <td>{{ event.participants.count() }}/{{ event.maxParticipants }}</td>
                    <td>{{ event.state.label }}</td>
                    <td>{{ '0' }}</td>
                    <td>
                        {# <a href="{{ path('user_detail', { id : event.id }) }}"> #}
                        {{ event.organizer.userName ? event.organizer.userName : event.organizer.firstName+' '+event.organizer.lastName }}
                        {# </a> #}
                    </td>
                    <td>
                        <a href="{{ path('event_detail', { id : event.id }) }}">Afficher</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
