{% extends 'base.html.twig' %}
{% form_theme eventForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <h1>{{title}}</h1>
    <div class="form" >
        {{ form_start(eventForm)}}
        <div class="row">
        <div class="col-sm-6">
            {{form_row(eventForm.name)}}
            {{form_row(eventForm.startDate)}}
            {{form_row(eventForm.signUpDeadline)}}
            {{form_row(eventForm.maxParticipants)}}
            {{form_row(eventForm.duration)}}
            {{form_row(eventForm.infos)}}
        </div>
        <div class="col-sm-6" data-location="{{ eventForm.location.vars.value }}" id="location-form">
            {{form_row(eventForm.campus)}}
            {{form_row(eventForm.city)}}
            <div class="row ml-0">
            {{form_row(eventForm.location)}}
            <a id="modal-button" href="#" data-toggle="modal" data-target="#location-modal" class="btn btn-primary align-self-end ml-3" style="margin-bottom: 1rem; height: calc(1.5em + .75rem + 2px);"><i class="fas fa-plus"></i></a>
            </div>
            <fieldset disabled>
                <div class="form-group">
                    <label for="disabledTextInput">Rue</label>
                    <input type="text" id="location_street_disabled" class="form-control">
                </div>
                <div class="form-group">
                    <label for="disabledTextInput">Code postal</label>
                    <input type="text" id="location_zip_disabled" class="form-control">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="disabledTextInput">Latitude</label>
                            <input type="text" id="location_latitude_disabled" class="form-control" >
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="disabledTextInput">Longitude</label>
                            <input type="text" id="location_longitude_disabled" class="form-control" >
                        </div>
                    </div>
                </div>
                <div id="map"></div>
            </fieldset>
        </div>
        </div>
        <button type="submit" class="btn btn-primary" value="En création" name="send">Enregistrer</button>
        <button type="submit" class="btn btn-primary" value="Ouverte" name="send">Publier la sortie</button>
        <a href="{{path('event')}}" class="btn btn-primary">Annuler</a>
        {{ form_end(eventForm)}}
    </div>



    <!-- Modal -->
    <div class="modal fade" id="location-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-dark modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un lieu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger d-none" id="location-validation-errors" role="alert">
                    </div>
                    {{ form(locationForm) }}
                    <div class="row">
                        <div class="col-6">
                            <div id="mapAdd"></div>
                        </div>
                        <div class="col-6">
                            <p id="map-instructions"></p>
                            <ul id="suggestions-list">

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" id="save-location-btn" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block stylesheets %}
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <style>
        #map { height: 20rem; }
        #mapAdd { height: 20rem; }
    </style>
{% endblock %}
{% block javascripts %}
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <script>
        const pathLocations = "{{ path('locations_get') }}" ;
        const pathPostCity = "{{ path('locations_post') }}" ;
        const pathCities = "{{ path('admin_cities_get') }}" ;
        L.mapbox.accessToken = 'pk.eyJ1IjoiYXJ0aHVybTk1IiwiYSI6ImNrdW5zM29uODB3b3AzMnBmeHZuc25sbDIifQ.jf0ITfjWQpkv4Z524j54Fw';
    </script>
    <script type="module" src="{{ asset('js/addLocation.js') }}"  crossorigin="anonymous"></script>


{% endblock %}