{% extends 'base.html.twig' %}
{% form_theme eventForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <h1>{{title}}</h1>
    <div class="form" >
        {{ form_start(eventForm)}}
        <div class="row">
        <div class="col-sm-6">
            {{form_row(eventForm.name)}}
            {{form_row(eventForm.startDate)}}
            {{form_row(eventForm.signUpDeadline)}}
            {{form_row(eventForm.maxParticipants)}}
            {{form_row(eventForm.duration)}}
            {{form_row(eventForm.infos)}}
        </div>
        <div class="col-sm-6">
            {{form_row(eventForm.campus)}}
            {{form_row(eventForm.city)}}
            <div class="row ml-0">
            {{form_row(eventForm.location)}}
            <a href="#" class="btn btn-primary align-self-end ml-3" style="margin-bottom: 1rem; height: calc(1.5em + .75rem + 2px);"><i class="fas fa-plus"></i></a>
            </div>
            <ul>
                <li class="form-group" id="rue">
                    <p></p>
                </li>
                <li class="form-group" id="longitude">
                    <p></p>
                </li>
                <li class="form-group" id="latitude">
                    <p></p>
                </li>
            </ul>

        </div>
        </div>
        <button type="submit" class="btn btn-primary" value="En création" name="send">Enregistrer</button>
        <button type="submit" class="btn btn-primary" value="Ouverte" name="send">Publier la sortie</button>
        <a href="{{path('event')}}" class="btn btn-primary">Annuler</a>
        {{ form_end(eventForm)}}
    </div>
    
{% endblock %}