{% extends 'base.html.twig' %}
{% form_theme userForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <div>
        <div class="form">
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}

            <button type="submit" class="btn btn-primary">Envoyer</button>
            <a href="{{ path("event") }} " class="btn btn-primary">Annuler</a>
            {{ form_end(userForm) }}
        </div>
    </div>

{% endblock %}