{% extends 'base.html.twig' %}
{% form_theme userForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <h1>{{title}}</h1>

    <div class="row">
        <div class="col col-md-5">
            <div style="height: 250px; width: 400px">
                {% if userPhoto %}

                    <img style="max-width: 100%; max-height: 100%" src="{{ asset('uploads/'~userPhoto) }}" alt="user avatar">
                {% else %}
                    <img style="max-width: 100%; max-height: 100%" src="{{ asset('images/default-avatar.png') }}" alt="user avatar">
                {% endif %}
            </div>
        </div>
        <div class="col col-md-7">
            <h1>{{title}}</h1>
            <div class="form">
                {{ form_start(userForm)}}
                {{ form_widget(userForm)}}

                <button type="submit" class="btn btn-primary">Envoyer</button>
                <a href="{{path("event")}} " class="btn btn-primary">Annuler</a>
                {{ form_end(userForm)}}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}

    {#    script to fix the bug of file input rendering#}
    <script>
        document.querySelector('.custom-file-input').addEventListener('change', function(event) {
            let inputFile = event.currentTarget;
            inputFile.parentNode.querySelector('.custom-file-label')
                .innerHTML = inputFile.files[0].name;
        });
    </script>
{% endblock %}