{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>
    <div class="card p-2">
        <div class="d-flex flex-row justify-content-around">
            <div class="form mt-3 mb-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">{{ action }}</button>
                <a class="btn btn-secondary" href="{{ action is same as('Modifier') ? path('admin_campuses') : path('event') }}">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="mt-4 row justify-content-center">
            <div class="col-auto">
                <div class="d-flex mb-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un campus" aria-label="Search" id="search-input">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit" id="search-btn">Chercher</button>
                </div>

                <table class="table text-center table-responsive" >
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="campuses-table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/filterCampuses.js') }}" ></script>
{% endblock %}



