{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>
    <div class="card p-2">
        <div class="d-flex flex-row justify-content-around">
            <div class="form mt-3 mb-3" >
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a class="btn btn-secondary" href="{{ path('event') }}">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="mt-4 row justify-content-center">
            <div class="col-auto">
                <table class="table text-center table-responsive">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Code postal</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for city in cities %}
                        <tr>
                            <td>{{ city.name }}</td>
                            <td>{{ city.zipCode }}</td>
                            <td>
                                <a href="#" class="btn btn-sm btn-warning">Modifier</a>
                                <a href="{{ path('admin_city_delete', { id : city.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
